.App {
  text-align: center;
  padding-top: 3%;
  border: solid;

}


.tips{
  padding-top: 8px;
  padding-bottom: 8px;
  font-style: monospace;
  width:65%;
  font-size: clamp(1rem, 2.5vw, 5rem);
  margin:0 auto;
  margin-bottom: 8%;
  border:2px solid black;
  border-radius:15px;
  box-shadow: 10px 5px 5px rgb(190, 190, 190);
}
.drum-pad{
  font-size: 3em;
  width:45%;
  height: 4rem;
  background-color: rgb(18, 20, 34);
  color: aliceblue;
  margin:0 auto;
  text-align: center;
  vertical-align: middle;
  padding-top: 5%;
  border-radius: 20px;  
  box-shadow: 10px 5px 5px rgb(190, 190, 190);
  border: 3px solid rgb(139, 139, 139);
}
.drum-pad:hover{
  background-color: rgb(170, 170, 172);
  color: black;
}
.drum-pad:active{
  border: none;
  box-shadow: 1px 5px 5px rgb(190, 190, 190);
}

.keyBoard{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
    "Q W E"
    "A S D"
    "Z X C";
 gap: 1rem;

}
       #clap1{
        grid-area:Q;
       }
       #clap2{
        grid-area:W 
       }
       #clearBox{
        grid-area:E; 
       }
       #cymbal1{
        grid-area:A;
       }
       #cymbal2{
        grid-area:S;
       }
       #cymbal3{
        grid-area:D;
       }
       #highHat{
        grid-area:Z;
       }
       #tom1{
        grid-area:X;
       }
       #tom2{
        grid-area:C;
       }


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
